# Python
__pycache__/
*.py[cod]
.venv/
.env

# VS Code
.vscode/

# Node
node_modules/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Alembic
alembic/versions/*.pyc